{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <h2 class="text-light">{{ request.user.email }}</h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <button class="btn btn-md btn-outline-dark btn-light" id="inbox">Inbox</button>
            <button class="btn btn-md btn-outline-dark btn-light" id="compose">Compose</button>
            <button class="btn btn-md btn-outline-dark btn-light" id="sent">Sent</button>
            <button class="btn btn-md btn-outline-dark btn-light" id="archived">Archived</button>
            <a class="btn btn-md btn-outline-dark btn-light" href="{% url 'logout' %}">Log Out</a>
        </div>
    </div>

</nav> -->
<!-- TODO: FIX HEADER SITUATION -->
<header class="main-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg main-nav px-0">
            <a class="navbar-brand" id="icon">
                <!-- <h1 class="email-headers">{{ request.user.email }}</h1> -->
                <!-- <img src="https://img.icons8.com/material/50/000000/email-open.png"/> -->
                <img src="static/mail/email3.png">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar icon-bar-1"></span>
                <span class="icon-bar icon-bar-2"></span>
                <span class="icon-bar icon-bar-3"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainMenu">
                <ul class="navbar-nav ml-auto text-uppercase f1">
                    <li>
                        <a id="inbox" class="active active-first">Inbox</a>
                    </li>
                    <li>
                        <a id="compose">Compose</a>
                    </li>
                    <li>
                        <a id="sent">Sent Email</a>
                    </li>
                    <li>
                        <a id="archived">Archived Email</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Log Out</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<div class="container">
    <div id="single-email-view" class="email-view">
        <div id="email-header">
            <h2 id="email-subject" class="sub-email-headers"></h2>
            <h5 id="email-sender" class="sub-email-headers"></h5>
        </div>
        <div class="row ">
            <div class="col-lg-7 mx-auto">
                <div class="card mt-2 mx-auto p-4 bg-light">
                    <div class="card-body bg-light">
                        <div class="container">
                            <div id="email-body"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="emails-view" class="email-view">
    </div>

    <div id="compose-view" class="email-view">
        <h3 class="sub-email-headers">New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                <span class="sub-email-headers">From: </span><input disabled class="form-control"
                    value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                <span class="sub-email-headers">To: </span><input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary" id="submit-button">
        </form>
    </div>
</div>

<div id="paginator-footer" class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>


{% endblock %}

{% block script %}
<script src="{% static 'mail/inbox.js' %}"></script>

{% endblock %}